
@font-face
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1502862532215'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1502862532215#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1502862532215') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1502862532215') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1502862532215#iconfont') format('svg'); /* iOS 4.1- */


.iconfont
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  margin-right:4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
.icon-suo:before
	content: "\e606"
.icon-login-out:before
	content: "\e727"
.icon-vip:before
	content: "\e60d"
.icon-yonghu:before
	content: "\e667"
.icon-ling:before
	content: "\e733"
.icon-home:before
	content: "\e729"
.icon-search:before
	content: "\e65b"
.icon-delete:before
	content: "\e651"
.icon-add:before
	content: "\e652"
.icon-save:before
	content: "\e67e"
.icon-system:before
	content: "\e732"
.icon-edit:before
  content: "\e656"
.icon-close:before
  content: "\e653"
.icon-authority:before
  content: "\e654"
.icon-admin:before
  content: "\e66a"

